<div class="sidebar bg-light vh-100">
    <div class="container-fluid p-0">
        <!-- logo -->
        <h1><a href="index.html"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg" alt="main-logo" class="m-4"></a></h1>
        <!-- sidebar -->
        <ul class="navbar-nav ps-4 mb-4">
            <li class="nav-item mb-3"><a href="#" class="text-dark nav-link fw-bold"><span class="material-icons me-3 align-bottom">
                assessment
                </span>Dashboard</a></li>
            <li class="nav-item mb-3"><a href="#" class="text-dark nav-link fw-bold"><span class="material-icons me-3 align-bottom">
                question_answer
                </span>Question</a></li>
            <li class="nav-item mb-3"><a href="#" class="text-success nav-link fw-bold active"><span class="material-icons me-3 align-bottom active">
                assignment
                </span>Assignment</a></li>
            <li class="nav-item mb-3"><a href="#" class="text-dark nav-link fw-bold"><span class="material-icons me-3 align-bottom">
                video_library
                </span>Course</a></li>
            <li class="nav-item mb-3"><a href="#" class="text-dark nav-link fw-bold"><span class="material-icons me-3 align-bottom">
                supervisor_account
                </span>Admin</a></li>
            <li class="nav-item mb-3"><a href="#" class="text-dark nav-link fw-bold"><span class="material-icons me-3 align-bottom">
                settings
                </span>Settings</a></li>

            <li class="mb-4" style="bottom: 0px; position: absolute;">
                <div class="flex align-items-center">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true" alt="andyChen" class="user-pic rounded-circle me-3 d-block">
                    <div>
                        <p class="fw-bold">Andy Chen</p>
                        <span class="fz-14 text-secondary">andy0401@mail.com</span>
                    </div>
                    
                </div>
            </li>
        </ul>
    </div>
</div>