@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0";

$primary : #198754;
$white : #F8F9FA;
$black : #000000;

#gtx-trans {
    display: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}
img {
	max-width:100%;
	height: auto;
	vertical-align:middle;
}
a {
    text-decoration: none;
    &:hover {
      border: 0px;
    }
}
body, button{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.text-roboto {
  font-family: 'Roboto Mono', monospace;
}
@mixin pad{
    @media(max-width:992px){
    @content;
    }
}
@mixin mobile{
    @media(max-width:767px){
    @content;
    }
}
.container {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 12px;
    @include pad{
    padding: 0 36px;
    }
    @include mobile{
    padding: 0 12px;
    }
}
// flex
.flex {
  display: flex;
}
.jcsb {
  justify-content: space-between;
}
.ai-center {
  align-items: center;
}
.ai-start {
  align-self: start;
}
.flex-col {
  flex-direction: column;
}

//字體
.fz-12{
  font-size: 12px;
}
.fz-14{
  font-size: 14px;
}
.fz-16{
  font-size: 16px;
}
.fz-18{
  font-size: 18px;
}
.fz-20{
  font-size: 20px;
}
.fz-24 {
  font-size: 24px;
}
.fz-32 {
  font-size: 32px;
}
.fz-36 {
  font-size: 36px;
}
.fz-42 {
  font-size: 42px;
}
.fz-48 {
  font-size: 48px;
}
.fz-64 {
  font-size: 64px;
}

